* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.container {
  width: 100%;
  min-height: 100vh;
  background: #121212;
  align-items: center;

  display: flex;
  align-items: center;
  flex-direction: column;

  padding-top: 120px;
}

.logo {
  max-width: 350px;
}

.title {
  color: #fff;
  margin: 14px 0;
}

.category-area {
  display: flex;
  gap: 14px;
}

.category-button {
  padding: 4px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.button-frase {
  background: #1fa4db;
  border: 0;
  border-radius: 4px;
  padding: 8px 16px;
  color: #fff;
  font-size: 16px;
  margin-top: 24px;
}

.texto-frase {
  width: 420px;
  background: #fafafa;
  border-radius: 4px;
  text-align: center;
  padding: 14px 22px;
  margin: 24px 0 16px 0;
  line-height: 150%;
  color: #dd7b22;
  font-style: italic;
  font-size: 18px;
}
